.icon {
  max-width: 400px;
  //margin: 50px 4px 4px 0;

  margin-left: -0.25rem
  margin-right: 0rem

  svg {
    //font-size: $display4-size;
    font-size: 12px;
    margin-bottom: 20px;

    &[data-emergence='visible'] {
      opacity: 1;
      animation: bounceIn 2s;
    }

    &[data-emergence='hidden'] {
      opacity: 0;
    }
  }

  &:hover {
    animation: pulse 0.5s;
  }
}
